/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.3;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end CSS Reset */


/* My CSS */


/*  Note: This presently results in underflow if the screen is too thin,
    and the text eventually being larger than the image. Work on a better
    container, or use something other than h1, h2?
*/
body {
  font-family: 'Droid Sans', sans-serif;
}

p {
  line-height: 1.5em;
  text-indent: 1.5em;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 3em;
}

h1, h2 {
  margin-left: -16.6667%;
}

header {
  display: block;
  text-align: center;
}

#headshot {
  padding-top: 1.5em;
  margin-left: -16.6667%; /* -16.6667% of center */
  max-width: 25em;
}

main {
  margin-top: 2em;
  margin-left: 16.6667%;
  max-width: 50%;
}

article {
  margin-bottom: 4em;
}

/* 
  shrunk width by 5%, was just too big. Main now appears more left of center 
  than before, despite not having moved. (16.6667% from right = 33.3333% from header.)
*/
.sidebar {
  position: fixed;
  top:0; bottom:0; right: 0;
  width: 11.6667%; 
  margin: 0 auto;
  background: #004FB2; /* A nice blue, reminiscent of Facebook's blue */
  border-left: 0.2em solid #000000;
}

.interest {
  width: 50%;
  margin-left: 25%;
  padding-top: 17%;
}

/* Media queries */

                                         /* DESKTOP */
/* 50em, tier 1 */
@media screen and (max-width: 50em) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.5em;
  }
  
  h3 {
    font-size: 2.5em;
  }

  #headshot {
    max-width: 20em;
  }
}

/* 40em, tier 2 */
@media screen and (max-width: 40em) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 2em;
  }

  #headshot {
    max-width: 66.66667%;
  }
}

                                         /* MOBILE */
/*
  30em, mobile 1
  Do not display sidebar on mobile or thin windows
  Move content into newly blank space, add header color
*/
@media screen and (max-width: 30em) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  .sidebar {
    display: none; 
  }

  header {
    background: #004FB2; /* A nice blue, reminiscent of Facebook's blue. Same as sidebar's color. */
    color: #FFFFFF;
    border-bottom: 0.2em solid #000000;
  }

  h1, h2 {
    margin-left: 0%;
  }

  h2 {
    margin-bottom: 1em;
  }

  #headshot {
    margin-left: 0%;
  }

  article {
    margin-left: -16.6667%;
    width: 143.3333%;
  }
}

/* 20em, mobile 2 */
@media screen and (max-width: 20em) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
  }
  
  h3 {
    font-size: 1.25em;
  }
}

/* end media queries */