/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.3;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end CSS Reset */


/* My CSS */


/*  Note: This presently results in underflow if the screen is too thin,
    and the text eventually being larger than the image. Work on a better
    container, or use something other than h1, h2?
*/
h1 {
  font-size: 3em;
  margin-left: -16.6667%;
}
h2 {
  font-size: 1.5em;
  margin-left: -16.6667%;
}

#header {
  display: block;
  text-align: center;
  font-family: 'Droid Sans';
}

#headshot {
  padding-top: 2ex;
  margin-left: -16.6667%; /* -16.6667% of center */
  max-width: 33.3333%;
}

/*  Modeled after 
    http://stackoverflow.com/questions/12434102/how-to-draw-a-vertical-dotted-line-down-center-of-page-using-css
*/
#header:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 16.6667%; /* 16.6667% from right = 33.3333% from header. */
    border-left: 0.2em solid #444; /* change these values to suit your liking */
} /* Fill past this border with #282828 */

#content {
    
}
#content .sidebar{
  
  position:absolute;
  top:0; bottom:0; right: 0;

  width: 16.6667%;
  margin: 0 auto;
  
  background: #004FB2;

}

/* Media queries */


/* end media queries */