/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.3;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end CSS Reset */


/* My CSS */


/*  Note: This presently results in underflow if the screen is too thin,
    and the text eventually being larger than the image. Work on a better
    container, or use something other than h1, h2?
*/
h1 {
  font-size: 3.5em;
  margin-left: -16.6667%;
}
h2 {
  font-size: 2.5em;
  margin-left: -16.6667%;
}
h3 {
  font-size: 2em;
}

#header {
  display: block;
  text-align: center;
  font-family: 'Droid Sans';
}

#content h2 {
  margin-left: -5%;
}


#headshot {
  padding-top: 2ex;
  margin-left: -16.6667%; /* -16.6667% of center */
  max-width: 33.3333%;
}

#content {
  
}

#content .main {
  margin-top: 2ex;
  margin-left: 25%;
  max-width: 50%;
}

#content .main .topic {
  margin-bottom: 10ex;
}

#content .sidebar {
  position:absolute;
  top:0; bottom:0; right: 0;
  width: 16.6667%; /* 16.6667% from right = 33.3333% from header. */
  margin: 0 auto;
  background: #004FB2;
  border-left: 0.2em solid #000000;
}

.interest {
  width: 50%;
  margin-left: 25%;
  padding-top: 17%;
}

/* Media queries */


/* end media queries */